**/__pycache__/
*.sqlite3
dom.py
.idea/*
media/*
*.pyc
media/
.vscode/*
*.orig
venv/*
*/venv/*
*/env/*
*.log
*/migrations/0*
/venv
nginx.conf
/env
envcomx/*
.cache/*
logs/
.DS_Store
.env
requirements_old.txt
.env.local
*/migrations
static/